server:
  port: 8101

spring:
  application:
    name: hr-payroll
  cloud:
    discovery:
      client:
        simple:
          instances:
            hr-worker:
              - uri: http://localhost:8001
              - uri: http://localhost:8002

